<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>弹幕神乐????合辑(CN)</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
<link rel="stylesheet" href="/main.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container mt-5 px-4">
<div class="title-container">
<h1 class="title">弹幕神乐????合辑(CN)</h1>
<div>
<a target="_blank" href="https://" class="button is-primary" id="btn-submit">投稿(Request new chart)...暂未开放(Not open now)</a>
</div>
<div class="select search-options">
<select id="searchBy" class="select">
<option value="all">精准搜索(Exactly Searching)</option>
<option value="from">按出处搜索(By From)</option>
<option value="name">按标题搜索(By Name)</option>
<option value="publisher">按提供者搜索(By Publisher)</option>
<option value="difficulty">按难度搜索(By Difficulty)</option>
</select>
</div>
</div>
<div class="bgimg"></div>   
<input type="text" id="search" class="input mb-4" placeholder="点这搜索...(Search for an item...)"/>
<p id="resultCount">Searched <%= contents.length %> result(s)</p>
<div class="table-wrapper">
<table class="table is-striped is-fullwidth">
<thead>
<tr>
<th class="sortable">Type <span class="sort-arrow"></span></th>
<th class="sortable">From <span class="sort-arrow"></span></th>
<th class="sortable">Title <span class="sort-arrow"></span></th>
<th class="sortable">Publisher <span class="sort-arrow"></span></th>
<th class="sortable numeric">Description <span class="sort-arrow"></span></th>
<th>SongInfo</th>
<th>Link</th>
</tr>
</thead>
<tbody>
<% contents.forEach(content => { %>
<tr>
<td><%= content.contentType === 0 ? "Songs" : content.contentType === 1 ? "NoteSkins" : content.contentType === 2 ? "SoundEffects": content.contentType === 3 ? "GlobalLua" : "Unknown" %></td>
<td><%= content.from %></td>
<td><%= content.title %></td>
<td><%= content.publisher %></td>
<td><%= content.description %></td>
<td class="difficulty">
<span class="diff" id="diff-easy">
<% if (content.songInfo.difficulties[0] === -1) { %>X<% } else
{ %><%= content.songInfo.difficulties[0] %><% } %>
</span>
<span class="diff" id="diff-normal">
<% if (content.songInfo.difficulties[1] === -1) { %>X<% } else
{ %><%= content.songInfo.difficulties[1] %><% } %>
</span>
<span class="diff" id="diff-hard">
<% if (content.songInfo.difficulties[2] === -1) { %>X<% } else
{ %><%= content.songInfo.difficulties[2] %><% } %>
</span>
<span class="diff" id="diff-extra">
<% if (content.songInfo.difficulties[3] === -1) { %>X<% } else
{ %><%= content.songInfo.difficulties[3] %><% } %>
</span>
<span class="diff" id="diff-lunatic">
<% if (content.songInfo.difficulties[4] === -1) { %>X<% } else
{ %><%= content.songInfo.difficulties[4] %><% } %>
</span>
</td>
<td>
<button
class="button btn-download is-link"
onclick="window.location.href='<%= content.downloadUrl %>'"
>
Download
</button>
</td>
</tr>
<% }); %>
</tbody>
</table>
</div>
</div>
<script src="./main.js"></script>
</body>
</html>