<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>弹幕神乐乱七八糟合辑(CN)</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
  <link rel="stylesheet" href="/main.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 </head>
 <body>
  <div class="container mt-6 px-4">
  <div class="title-container">
   <h1 class="title">弹幕神乐乱七八糟合辑(Designed by Sc.Lunar)</h1>
   <div>
    <a target="_blank" href="https://docs.qq.com/form/page/DQ2tWdEtWQ1ZKU0tq" class="button is-primary" id="btn-submit">点击投稿(Request)</a>
   </div>
   <div class="select search-options">
    <select id="searchBy" class="select">
     <option value="all">精准搜索(Exactly Searching)</option>
     <option value="from">按出处搜索(By From)</option>
     <option value="name">按曲名搜索(By Tittle)</option>
     <option value="publisher">按曲师搜索(By Artist)</option>
     <option value="description">按谱师搜索(By Credit)</option>
     <option value="difficulty">按难度搜索(By Difficulty)</option>
    </select>
   </div>
  </div>
  <div class="bgimg"></div>   
  <input type="text" id="search" class="input mb-4" placeholder="点这搜索...(Search for an item...)"/>
  <p id="resultCount">Searched <%= contents.length %> result(s)</p>
   <div class="table-wrapper">
    <table class="table is-striped is-fullwidth">
     <thead>
      <tr>
       <th>类型<br>(Type) <span class="sort-arrow"></span></th>
       <th class="sortable">出自<br>(From) <span class="sort-arrow"></span></th>
       <th class="sortable">标题<br>(Title) <span class="sort-arrow"></span></th>
       <th class="sortable">曲师/提供者<br>(Artist/Publisher) <span class="sort-arrow"></span></th>
       <th class="sortable">谱师<br>(Credit) <span class="sort-arrow"></span></th>
       <th>难度<br>(Difficulty) <span class="sort-arrow"></span></th>
       <th>链接<br>(Link)</th>
       <th class="sortable">密码<br>(Password) <span class="sort-arrow"></span></th>
      </tr>
     </thead>
     <tbody>
      <% contents.forEach(content => { %>
       <tr>
        <td><%= content.contentType === 0 ? "自制谱(songs)" : content.contentType=== 1 ? "按键皮肤(NoteSkins)" : content.contentType === 2 ? "打击音效(SoundEffects)": content.contentType === 3 ? "全局脚本(GlobalLua)" : content.contentType === 4 ? "软件(Software)" : content.contentType === 5 ? "视频(Video)" : "已删除(Deleted)" %></td>
        <td><%= content.from %></td>
        <td><%= content.title %></td>
        <td><%= content.publisher %></td>
        <td><%= content.description %></td>
        <% if (content.contentType === 0) { %>
        <td class="difficulty">
         <span class="diff" id="diff-easy"><% if (content.songInfo.difficulties[0] === 0) { %>-<% } else if (content.songInfo.difficulties[0] === -1) { %>X<% } else { %><%= content.songInfo.difficulties[0] %><% } %></span>   
         <span class="diff" id="diff-normal"><% if (content.songInfo.difficulties[1] === 0) { %>-<% } else if (content.songInfo.difficulties[1] === -1) { %>X<% } else { %><%= content.songInfo.difficulties[1] %><% } %></span>
         <span class="diff" id="diff-hard"><% if (content.songInfo.difficulties[2] === 0) { %>-<% } else if (content.songInfo.difficulties[2] === -1) { %>X<% } else { %><%= content.songInfo.difficulties[2] %><% } %></span>
         <span class="diff" id="diff-extra"><% if (content.songInfo.difficulties[3] === 0) { %>-<% } else if (content.songInfo.difficulties[3] === -1) { %>X<% } else { %><%= content.songInfo.difficulties[3] %><% } %></span>
         <span class="diff" id="diff-lunatic"><% if (content.songInfo.difficulties[4] === 0) { %>-<% } else if (content.songInfo.difficulties[4] === -1) { %>X<% } else{ %><%= content.songInfo.difficulties[4] %><% } %></span>
        </td>
        <% } else { %> <td><p class="text-unavailable">-</p></td> <% } %>
        <% if (content.downloadUrl == 0) { %> <td><p class="text-unavailable">CLOSED</p></td> <% } 
         else if (content.contentType === 5) { %> <td><button class="button btn-download is-link"onclick="window.open('<%= content.downloadUrl %>')">Watching</button></td>  <% } 
         else { %> <td><button class="button btn-download is-link"onclick="window.open('<%= content.downloadUrl %>')">Download</button></td>  <% } %> 
        <td><%= content.password %></td>
       </tr>
      <% }); %> 
     </tbody>
    </table>
   </div>
   <div class="pagination is-centered" role="navigation" aria-label="pagination" >
    <% if (currentPage > 1) { %> <a class="pagination-previous" href="?page=<%= currentPage - 1 %>" >上一页(Previous)</a> <% } 
       else { %> <a class="pagination-previous" disabled>上一页(Previous)</a> <% } %> <% 
       if (currentPage < totalPages) { %> <a class="pagination-next" href="?page=<%= currentPage + 1 %>">下一页(Next)</a> <% } 
       else { %> <a class="pagination-next" disabled>下一页(Next)</a> <% } %>
    <ul class="pagination-list">
     <li><a class="pagination-link <%= currentPage === 1 ? 'is-current' : '' %>" href="?page=1" >1</a></li>
     <% if (totalPages > 2) { %>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><input type="number" class="input pagination-input" value="<%= currentPage %>" min="1" max="<%= totalPages %>" onkeydown="if(event.key === 'Enter') window.location.href='?page=' + this.value" /></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li> <% } %> 
     <% if (totalPages >= 2) { %>
      <li><a class="pagination-link <%= currentPage === totalPages ? 'is-current' : '' %>" href="?page=<%= totalPages %>"><%= totalPages %></a></li> <% } %>
    </ul>
  </div>
  <div class="table-wrapper">
   <table class="table is-striped is-fullwidth">
    <thead>
     <tr><th>模拟器相关链接<br>(DankagLike)</th><th></th> <th></th> <th></th>
    </thead> 
    <tbody>  
     <td><button class="button btn-download is-link"onclick="window.open(https://wwdk.lanzouu.com/iA29P2lhu90f)">(安卓.apk)DankagLike-1.1.8(#83)</button></td>
     <td><button class="button btn-download is-link"onclick="window.open(https://wwdk.lanzouu.com/iA29P2lhu90f)">(苹果.ipa)</button></td>
     <td><button class="button btn-download is-link"onclick="window.open(https://wwdk.lanzouu.com/iWQ3L2lhu8ba)">(制谱器.exe)DankagLikeNoteEditor(v1.78-3)</button></td>
     <td><button class="button btn-download is-link"onclick="window.open(https://wwdk.lanzouu.com/iA13y2lhu7ve)">(播放器.exe)DankagLikeNotePreview(v1.59-2)</button></td>
    </tbody>
    <tbody>
      <td>8p5z</td> <td>-</td> <td>1bbw</td> <td>bvbh</td>
    </tbody>
   </table>
  </div>   
  </div>
  <script src="./main.js"></script>
 </body>
</html>